openapi: 3.0.3
info:
  title: NWSViz EDR Service Profile
  version: '1.0'
  description: 'OGC API - EDR Part 3 Service Profile: NWSViz EDR Service Profile'
  x-ogc-profile: http://www.opengis.net/spec/ogcapi-edr-3/1.0/req/nwsviz
servers:
- url: https://edr-api-desi-c.mdl.nws.noaa.gov
  description: NWSViz EDR Service Profile
tags:
- name: server
  description: NWSViz EDR Service Profile
- name: aigfs0p25_v1p0_global_latlon
  description: AIGFS0P25_V1P0_GLOBAL weather data for LATLON region stored in icechunk
    format
- name: air_quality_alaska_polar_stereographic
  description: AIR_QUALITY_ALASKA_POLAR weather data for STEREOGRAPHIC region stored
    in icechunk format
- name: air_quality_conus_lambert
  description: AIR_QUALITY_CONUS weather data for LAMBERT region stored in icechunk
    format
- name: air_quality_hawaii_mercator
  description: AIR_QUALITY_HAWAII weather data for MERCATOR region stored in icechunk
    format
- name: gefs0p25_v12p3_global_latlon
  description: GEFS0P25_V12P3_GLOBAL weather data for LATLON region stored in icechunk
    format
- name: gefs0p5_v12p3_global_latlon
  description: GEFS0P5_V12P3_GLOBAL weather data for LATLON region stored in icechunk
    format
- name: gfs0p25_v16p3_global_latlon
  description: GFS0P25_V16P3_GLOBAL weather data for LATLON region stored in icechunk
    format
- name: gfs0p25_v17_global_latlon
  description: GFS0P25_V17_GLOBAL weather data for LATLON region stored in icechunk
    format
- name: nbm_v5p0_conus_lambert
  description: NBM_V5P0_CONUS weather data for LAMBERT region stored in icechunk format
- name: processed_gefs0p25_v12p3_global_latlon
  description: PROCESSED_GEFS0P25_V12P3_GLOBAL weather data for LATLON region stored
    in icechunk format
- name: rtma2p5_v2p10_conus_lambert
  description: RTMA2P5_V2P10_CONUS weather data for LAMBERT region stored in icechunk
    format
- name: urma2p5_v2p10_conus_lambert
  description: URMA2P5_V2P10_CONUS weather data for LAMBERT region stored in icechunk
    format
- name: petss_test
  description: P-ETSS test data collection from local filesystem
- name: edr-zarr-difference
- name: edr-zarr-difference-streaming
- name: edr-zarr-wind-streaming
- name: jobs
paths:
  /:
    get:
      summary: Landing page
      description: Landing page
      operationId: getLandingPage
      tags:
      - server
      parameters:
      - &id002
        $ref: '#/components/parameters/f'
      - &id003
        $ref: '#/components/parameters/lang'
      responses:
        '200': &id004
          description: Landing page / conformance / collections list
          content:
            application/json:
              schema:
                type: object
                properties:
                  links: &id007
                    type: array
                    items:
                      type: object
                      required:
                      - href
                      - rel
                      properties:
                        href:
                          type: string
                        rel:
                          type: string
                        type:
                          type: string
                        title:
                          type: string
        '400': &id005
          description: Invalid or missing parameter
          content:
            application/json:
              schema: &id001
                type: object
                properties:
                  code:
                    type: string
                  description:
                    type: string
        '500': &id006
          description: Server error
          content:
            application/json:
              schema: *id001
  /conformance:
    get:
      summary: API conformance definition
      description: API conformance definition
      operationId: getConformanceDeclaration
      tags:
      - server
      parameters:
      - *id002
      - *id003
      responses:
        '200': *id004
        '400': *id005
        '500': *id006
  /collections:
    get:
      summary: Collections
      description: Collections
      operationId: getCollections
      tags:
      - server
      parameters:
      - *id002
      - *id003
      responses:
        '200': *id004
        '400': *id005
        '500': *id006
  /openapi:
    get:
      summary: OpenAPI definition
      operationId: getOpenAPI
      tags:
      - server
      parameters:
      - *id002
      responses:
        '200':
          description: OpenAPI document
        default: &id032
          $ref: '#/components/responses/default'
  /collections/aigfs0p25_v1p0_global_latlon:
    get:
      summary: Get AIGFS 0.25 Degree Global LatLon metadata
      description: AIGFS0P25_V1P0_GLOBAL weather data for LATLON region stored in
        icechunk format
      operationId: describeAigfs0P25V1P0GlobalLatlonCollection
      tags:
      - aigfs0p25_v1p0_global_latlon
      parameters:
      - *id002
      - *id003
      responses:
        '200': &id016
          description: Collection metadata
          content:
            application/json:
              schema:
                type: object
                required:
                - id
                properties:
                  id:
                    type: string
                  title:
                    type: string
                  description:
                    type: string
                  links: *id007
        '400': *id005
        '404': &id017
          description: Not found
          content:
            application/json:
              schema: *id001
        '500': *id006
  /collections/aigfs0p25_v1p0_global_latlon/instances:
    get:
      summary: Get pre-defined instances of aigfs0p25_v1p0_global_latlon
      description: AIGFS0P25_V1P0_GLOBAL weather data for LATLON region stored in
        icechunk format
      operationId: getInstancesAigfs0P25V1P0GlobalLatlon
      tags:
      - aigfs0p25_v1p0_global_latlon
      parameters:
      - *id002
      responses:
        '200': &id008
          description: Feature collection
          content:
            application/json:
              schema:
                type: object
                properties:
                  instances:
                    type: array
                    items:
                      type: object
                  features:
                    type: array
                    items:
                      type: object
        '400': *id005
        '500': *id006
  /collections/aigfs0p25_v1p0_global_latlon/instances/{instanceId}:
    get:
      summary: Get aigfs0p25_v1p0_global_latlon instance
      description: AIGFS0P25_V1P0_GLOBAL weather data for LATLON region stored in
        icechunk format
      operationId: getInstanceAigfs0P25V1P0GlobalLatlon
      tags:
      - aigfs0p25_v1p0_global_latlon
      parameters:
      - &id009
        name: instanceId
        in: path
        required: true
        description: Instance identifier
        schema:
          type: string
        example: 2025-01-20T00:00Z
      - *id002
      responses:
        '200': *id008
  /collections/aigfs0p25_v1p0_global_latlon/instances/{instanceId}/items:
    get:
      summary: query aigfs0p25_v1p0_global_latlon instance by items
      description: AIGFS0P25_V1P0_GLOBAL weather data for LATLON region stored in
        icechunk format
      operationId: queryItemsInstanceAigfs0P25V1P0GlobalLatlon
      tags:
      - aigfs0p25_v1p0_global_latlon
      parameters:
      - *id009
      - &id014
        name: bbox
        in: query
        description: Bounding box filter
        schema:
          type: string
      - &id010
        $ref: https://schemas.opengis.net/ogcapi/features/part1/1.0/openapi/ogcapi-features-1.yaml#/components/parameters/datetime
      - &id011
        $ref: https://schemas.opengis.net/ogcapi/edr/1.0/openapi/parameters/parameter-name.yaml
      - &id012
        $ref: https://schemas.opengis.net/ogcapi/edr/1.0/openapi/parameters/z.yaml
      - *id002
      responses: &id013
        '200':
          description: Coverage response
          content:
            application/prs.coverage+json:
              schema:
                $ref: https://schemas.opengis.net/ogcapi/edr/1.0/openapi/schemas/coverageJSON.yaml
  /collections/aigfs0p25_v1p0_global_latlon/instances/{instanceId}/position:
    get:
      summary: query aigfs0p25_v1p0_global_latlon instance by position
      description: AIGFS0P25_V1P0_GLOBAL weather data for LATLON region stored in
        icechunk format
      operationId: queryPositionInstanceAigfs0P25V1P0GlobalLatlon
      tags:
      - aigfs0p25_v1p0_global_latlon
      parameters:
      - *id009
      - &id015
        $ref: https://schemas.opengis.net/ogcapi/edr/1.0/openapi/parameters/positionCoords.yaml
      - *id010
      - *id011
      - *id012
      - *id002
      responses: *id013
  /collections/aigfs0p25_v1p0_global_latlon/items:
    get:
      summary: query aigfs0p25_v1p0_global_latlon by items
      description: AIGFS0P25_V1P0_GLOBAL weather data for LATLON region stored in
        icechunk format
      operationId: queryItemsAigfs0P25V1P0GlobalLatlon
      tags:
      - aigfs0p25_v1p0_global_latlon
      parameters: &id019
      - *id014
      - *id010
      - *id011
      - *id012
      - *id002
      responses: *id013
  /collections/aigfs0p25_v1p0_global_latlon/position:
    get:
      summary: query aigfs0p25_v1p0_global_latlon by position
      description: AIGFS0P25_V1P0_GLOBAL weather data for LATLON region stored in
        icechunk format
      operationId: queryPositionAigfs0P25V1P0GlobalLatlon
      tags:
      - aigfs0p25_v1p0_global_latlon
      parameters: &id020
      - *id015
      - *id010
      - *id011
      - *id012
      - *id002
      responses: *id013
  /collections/air_quality_alaska_polar_stereographic:
    get:
      summary: Get Air Quality Alaska Polar Stereographic metadata
      description: AIR_QUALITY_ALASKA_POLAR weather data for STEREOGRAPHIC region
        stored in icechunk format
      operationId: describeAirQualityAlaskaPolarStereographicCollection
      tags:
      - air_quality_alaska_polar_stereographic
      parameters:
      - *id002
      - *id003
      responses:
        '200': *id016
        '400': *id005
        '404': *id017
        '500': *id006
  /collections/air_quality_alaska_polar_stereographic/instances:
    get:
      summary: Get pre-defined instances of air_quality_alaska_polar_stereographic
      description: AIR_QUALITY_ALASKA_POLAR weather data for STEREOGRAPHIC region
        stored in icechunk format
      operationId: getInstancesAirQualityAlaskaPolarStereographic
      tags:
      - air_quality_alaska_polar_stereographic
      parameters:
      - *id002
      responses:
        '200': *id008
        '400': *id005
        '500': *id006
  /collections/air_quality_alaska_polar_stereographic/instances/{instanceId}:
    get:
      summary: Get air_quality_alaska_polar_stereographic instance
      description: AIR_QUALITY_ALASKA_POLAR weather data for STEREOGRAPHIC region
        stored in icechunk format
      operationId: getInstanceAirQualityAlaskaPolarStereographic
      tags:
      - air_quality_alaska_polar_stereographic
      parameters:
      - &id018
        name: instanceId
        in: path
        required: true
        description: Instance identifier
        schema:
          type: string
        example: 2025-11-06T03:00Z
      - *id002
      responses:
        '200': *id008
  /collections/air_quality_alaska_polar_stereographic/instances/{instanceId}/items:
    get:
      summary: query air_quality_alaska_polar_stereographic instance by items
      description: AIR_QUALITY_ALASKA_POLAR weather data for STEREOGRAPHIC region
        stored in icechunk format
      operationId: queryItemsInstanceAirQualityAlaskaPolarStereographic
      tags:
      - air_quality_alaska_polar_stereographic
      parameters:
      - *id018
      - *id014
      - *id010
      - *id011
      - *id012
      - *id002
      responses: *id013
  /collections/air_quality_alaska_polar_stereographic/instances/{instanceId}/position:
    get:
      summary: query air_quality_alaska_polar_stereographic instance by position
      description: AIR_QUALITY_ALASKA_POLAR weather data for STEREOGRAPHIC region
        stored in icechunk format
      operationId: queryPositionInstanceAirQualityAlaskaPolarStereographic
      tags:
      - air_quality_alaska_polar_stereographic
      parameters:
      - *id018
      - *id015
      - *id010
      - *id011
      - *id012
      - *id002
      responses: *id013
  /collections/air_quality_alaska_polar_stereographic/items:
    get:
      summary: query air_quality_alaska_polar_stereographic by items
      description: AIR_QUALITY_ALASKA_POLAR weather data for STEREOGRAPHIC region
        stored in icechunk format
      operationId: queryItemsAirQualityAlaskaPolarStereographic
      tags:
      - air_quality_alaska_polar_stereographic
      parameters: *id019
      responses: *id013
  /collections/air_quality_alaska_polar_stereographic/position:
    get:
      summary: query air_quality_alaska_polar_stereographic by position
      description: AIR_QUALITY_ALASKA_POLAR weather data for STEREOGRAPHIC region
        stored in icechunk format
      operationId: queryPositionAirQualityAlaskaPolarStereographic
      tags:
      - air_quality_alaska_polar_stereographic
      parameters: *id020
      responses: *id013
  /collections/air_quality_conus_lambert:
    get:
      summary: Get Air Quality CONUS Lambert metadata
      description: AIR_QUALITY_CONUS weather data for LAMBERT region stored in icechunk
        format
      operationId: describeAirQualityConusLambertCollection
      tags:
      - air_quality_conus_lambert
      parameters:
      - *id002
      - *id003
      responses:
        '200': *id016
        '400': *id005
        '404': *id017
        '500': *id006
  /collections/air_quality_conus_lambert/instances:
    get:
      summary: Get pre-defined instances of air_quality_conus_lambert
      description: AIR_QUALITY_CONUS weather data for LAMBERT region stored in icechunk
        format
      operationId: getInstancesAirQualityConusLambert
      tags:
      - air_quality_conus_lambert
      parameters:
      - *id002
      responses:
        '200': *id008
        '400': *id005
        '500': *id006
  /collections/air_quality_conus_lambert/instances/{instanceId}:
    get:
      summary: Get air_quality_conus_lambert instance
      description: AIR_QUALITY_CONUS weather data for LAMBERT region stored in icechunk
        format
      operationId: getInstanceAirQualityConusLambert
      tags:
      - air_quality_conus_lambert
      parameters:
      - &id021
        name: instanceId
        in: path
        required: true
        description: Instance identifier
        schema:
          type: string
        example: 2025-11-06T12:00Z
      - *id002
      responses:
        '200': *id008
  /collections/air_quality_conus_lambert/instances/{instanceId}/items:
    get:
      summary: query air_quality_conus_lambert instance by items
      description: AIR_QUALITY_CONUS weather data for LAMBERT region stored in icechunk
        format
      operationId: queryItemsInstanceAirQualityConusLambert
      tags:
      - air_quality_conus_lambert
      parameters:
      - *id021
      - *id014
      - *id010
      - *id011
      - *id012
      - *id002
      responses: *id013
  /collections/air_quality_conus_lambert/instances/{instanceId}/position:
    get:
      summary: query air_quality_conus_lambert instance by position
      description: AIR_QUALITY_CONUS weather data for LAMBERT region stored in icechunk
        format
      operationId: queryPositionInstanceAirQualityConusLambert
      tags:
      - air_quality_conus_lambert
      parameters:
      - *id021
      - *id015
      - *id010
      - *id011
      - *id012
      - *id002
      responses: *id013
  /collections/air_quality_conus_lambert/items:
    get:
      summary: query air_quality_conus_lambert by items
      description: AIR_QUALITY_CONUS weather data for LAMBERT region stored in icechunk
        format
      operationId: queryItemsAirQualityConusLambert
      tags:
      - air_quality_conus_lambert
      parameters: *id019
      responses: *id013
  /collections/air_quality_conus_lambert/position:
    get:
      summary: query air_quality_conus_lambert by position
      description: AIR_QUALITY_CONUS weather data for LAMBERT region stored in icechunk
        format
      operationId: queryPositionAirQualityConusLambert
      tags:
      - air_quality_conus_lambert
      parameters: *id020
      responses: *id013
  /collections/air_quality_hawaii_mercator:
    get:
      summary: Get Air Quality Hawaii Mercator metadata
      description: AIR_QUALITY_HAWAII weather data for MERCATOR region stored in icechunk
        format
      operationId: describeAirQualityHawaiiMercatorCollection
      tags:
      - air_quality_hawaii_mercator
      parameters:
      - *id002
      - *id003
      responses:
        '200': *id016
        '400': *id005
        '404': *id017
        '500': *id006
  /collections/air_quality_hawaii_mercator/instances:
    get:
      summary: Get pre-defined instances of air_quality_hawaii_mercator
      description: AIR_QUALITY_HAWAII weather data for MERCATOR region stored in icechunk
        format
      operationId: getInstancesAirQualityHawaiiMercator
      tags:
      - air_quality_hawaii_mercator
      parameters:
      - *id002
      responses:
        '200': *id008
        '400': *id005
        '500': *id006
  /collections/air_quality_hawaii_mercator/instances/{instanceId}:
    get:
      summary: Get air_quality_hawaii_mercator instance
      description: AIR_QUALITY_HAWAII weather data for MERCATOR region stored in icechunk
        format
      operationId: getInstanceAirQualityHawaiiMercator
      tags:
      - air_quality_hawaii_mercator
      parameters:
      - &id022
        name: instanceId
        in: path
        required: true
        description: Instance identifier
        schema:
          type: string
        example: 2025-11-06T03:00Z
      - *id002
      responses:
        '200': *id008
  /collections/air_quality_hawaii_mercator/instances/{instanceId}/items:
    get:
      summary: query air_quality_hawaii_mercator instance by items
      description: AIR_QUALITY_HAWAII weather data for MERCATOR region stored in icechunk
        format
      operationId: queryItemsInstanceAirQualityHawaiiMercator
      tags:
      - air_quality_hawaii_mercator
      parameters:
      - *id022
      - *id014
      - *id010
      - *id011
      - *id012
      - *id002
      responses: *id013
  /collections/air_quality_hawaii_mercator/instances/{instanceId}/position:
    get:
      summary: query air_quality_hawaii_mercator instance by position
      description: AIR_QUALITY_HAWAII weather data for MERCATOR region stored in icechunk
        format
      operationId: queryPositionInstanceAirQualityHawaiiMercator
      tags:
      - air_quality_hawaii_mercator
      parameters:
      - *id022
      - *id015
      - *id010
      - *id011
      - *id012
      - *id002
      responses: *id013
  /collections/air_quality_hawaii_mercator/items:
    get:
      summary: query air_quality_hawaii_mercator by items
      description: AIR_QUALITY_HAWAII weather data for MERCATOR region stored in icechunk
        format
      operationId: queryItemsAirQualityHawaiiMercator
      tags:
      - air_quality_hawaii_mercator
      parameters: *id019
      responses: *id013
  /collections/air_quality_hawaii_mercator/position:
    get:
      summary: query air_quality_hawaii_mercator by position
      description: AIR_QUALITY_HAWAII weather data for MERCATOR region stored in icechunk
        format
      operationId: queryPositionAirQualityHawaiiMercator
      tags:
      - air_quality_hawaii_mercator
      parameters: *id020
      responses: *id013
  /collections/gefs0p25_v12p3_global_latlon:
    get:
      summary: Get GEFS 0.25 Degree Global LatLon metadata
      description: GEFS0P25_V12P3_GLOBAL weather data for LATLON region stored in
        icechunk format
      operationId: describeGefs0P25V12P3GlobalLatlonCollection
      tags:
      - gefs0p25_v12p3_global_latlon
      parameters:
      - *id002
      - *id003
      responses:
        '200': *id016
        '400': *id005
        '404': *id017
        '500': *id006
  /collections/gefs0p25_v12p3_global_latlon/instances:
    get:
      summary: Get pre-defined instances of gefs0p25_v12p3_global_latlon
      description: GEFS0P25_V12P3_GLOBAL weather data for LATLON region stored in
        icechunk format
      operationId: getInstancesGefs0P25V12P3GlobalLatlon
      tags:
      - gefs0p25_v12p3_global_latlon
      parameters:
      - *id002
      responses:
        '200': *id008
        '400': *id005
        '500': *id006
  /collections/gefs0p25_v12p3_global_latlon/instances/{instanceId}:
    get:
      summary: Get gefs0p25_v12p3_global_latlon instance
      description: GEFS0P25_V12P3_GLOBAL weather data for LATLON region stored in
        icechunk format
      operationId: getInstanceGefs0P25V12P3GlobalLatlon
      tags:
      - gefs0p25_v12p3_global_latlon
      parameters:
      - &id023
        name: instanceId
        in: path
        required: true
        description: Instance identifier
        schema:
          type: string
        example: 2025-01-01T00:00Z
      - *id002
      responses:
        '200': *id008
  /collections/gefs0p25_v12p3_global_latlon/instances/{instanceId}/items:
    get:
      summary: query gefs0p25_v12p3_global_latlon instance by items
      description: GEFS0P25_V12P3_GLOBAL weather data for LATLON region stored in
        icechunk format
      operationId: queryItemsInstanceGefs0P25V12P3GlobalLatlon
      tags:
      - gefs0p25_v12p3_global_latlon
      parameters:
      - *id023
      - *id014
      - *id010
      - *id011
      - *id012
      - *id002
      responses: *id013
  /collections/gefs0p25_v12p3_global_latlon/instances/{instanceId}/position:
    get:
      summary: query gefs0p25_v12p3_global_latlon instance by position
      description: GEFS0P25_V12P3_GLOBAL weather data for LATLON region stored in
        icechunk format
      operationId: queryPositionInstanceGefs0P25V12P3GlobalLatlon
      tags:
      - gefs0p25_v12p3_global_latlon
      parameters:
      - *id023
      - *id015
      - *id010
      - *id011
      - *id012
      - *id002
      responses: *id013
  /collections/gefs0p25_v12p3_global_latlon/items:
    get:
      summary: query gefs0p25_v12p3_global_latlon by items
      description: GEFS0P25_V12P3_GLOBAL weather data for LATLON region stored in
        icechunk format
      operationId: queryItemsGefs0P25V12P3GlobalLatlon
      tags:
      - gefs0p25_v12p3_global_latlon
      parameters: *id019
      responses: *id013
  /collections/gefs0p25_v12p3_global_latlon/position:
    get:
      summary: query gefs0p25_v12p3_global_latlon by position
      description: GEFS0P25_V12P3_GLOBAL weather data for LATLON region stored in
        icechunk format
      operationId: queryPositionGefs0P25V12P3GlobalLatlon
      tags:
      - gefs0p25_v12p3_global_latlon
      parameters: *id020
      responses: *id013
  /collections/gefs0p5_v12p3_global_latlon:
    get:
      summary: Get GEFS 0.5 Degree Global LatLon metadata
      description: GEFS0P5_V12P3_GLOBAL weather data for LATLON region stored in icechunk
        format
      operationId: describeGefs0P5V12P3GlobalLatlonCollection
      tags:
      - gefs0p5_v12p3_global_latlon
      parameters:
      - *id002
      - *id003
      responses:
        '200': *id016
        '400': *id005
        '404': *id017
        '500': *id006
  /collections/gefs0p5_v12p3_global_latlon/instances:
    get:
      summary: Get pre-defined instances of gefs0p5_v12p3_global_latlon
      description: GEFS0P5_V12P3_GLOBAL weather data for LATLON region stored in icechunk
        format
      operationId: getInstancesGefs0P5V12P3GlobalLatlon
      tags:
      - gefs0p5_v12p3_global_latlon
      parameters:
      - *id002
      responses:
        '200': *id008
        '400': *id005
        '500': *id006
  /collections/gefs0p5_v12p3_global_latlon/instances/{instanceId}:
    get:
      summary: Get gefs0p5_v12p3_global_latlon instance
      description: GEFS0P5_V12P3_GLOBAL weather data for LATLON region stored in icechunk
        format
      operationId: getInstanceGefs0P5V12P3GlobalLatlon
      tags:
      - gefs0p5_v12p3_global_latlon
      parameters:
      - &id024
        name: instanceId
        in: path
        required: true
        description: Instance identifier
        schema:
          type: string
        example: 2025-01-01T00:00Z
      - *id002
      responses:
        '200': *id008
  /collections/gefs0p5_v12p3_global_latlon/instances/{instanceId}/items:
    get:
      summary: query gefs0p5_v12p3_global_latlon instance by items
      description: GEFS0P5_V12P3_GLOBAL weather data for LATLON region stored in icechunk
        format
      operationId: queryItemsInstanceGefs0P5V12P3GlobalLatlon
      tags:
      - gefs0p5_v12p3_global_latlon
      parameters:
      - *id024
      - *id014
      - *id010
      - *id011
      - *id012
      - *id002
      responses: *id013
  /collections/gefs0p5_v12p3_global_latlon/instances/{instanceId}/position:
    get:
      summary: query gefs0p5_v12p3_global_latlon instance by position
      description: GEFS0P5_V12P3_GLOBAL weather data for LATLON region stored in icechunk
        format
      operationId: queryPositionInstanceGefs0P5V12P3GlobalLatlon
      tags:
      - gefs0p5_v12p3_global_latlon
      parameters:
      - *id024
      - *id015
      - *id010
      - *id011
      - *id012
      - *id002
      responses: *id013
  /collections/gefs0p5_v12p3_global_latlon/items:
    get:
      summary: query gefs0p5_v12p3_global_latlon by items
      description: GEFS0P5_V12P3_GLOBAL weather data for LATLON region stored in icechunk
        format
      operationId: queryItemsGefs0P5V12P3GlobalLatlon
      tags:
      - gefs0p5_v12p3_global_latlon
      parameters: *id019
      responses: *id013
  /collections/gefs0p5_v12p3_global_latlon/position:
    get:
      summary: query gefs0p5_v12p3_global_latlon by position
      description: GEFS0P5_V12P3_GLOBAL weather data for LATLON region stored in icechunk
        format
      operationId: queryPositionGefs0P5V12P3GlobalLatlon
      tags:
      - gefs0p5_v12p3_global_latlon
      parameters: *id020
      responses: *id013
  /collections/gfs0p25_v16p3_global_latlon:
    get:
      summary: Get GFS 0.25 Degree Global LatLon v16.3 metadata
      description: GFS0P25_V16P3_GLOBAL weather data for LATLON region stored in icechunk
        format
      operationId: describeGfs0P25V16P3GlobalLatlonCollection
      tags:
      - gfs0p25_v16p3_global_latlon
      parameters:
      - *id002
      - *id003
      responses:
        '200': *id016
        '400': *id005
        '404': *id017
        '500': *id006
  /collections/gfs0p25_v16p3_global_latlon/instances:
    get:
      summary: Get pre-defined instances of gfs0p25_v16p3_global_latlon
      description: GFS0P25_V16P3_GLOBAL weather data for LATLON region stored in icechunk
        format
      operationId: getInstancesGfs0P25V16P3GlobalLatlon
      tags:
      - gfs0p25_v16p3_global_latlon
      parameters:
      - *id002
      responses:
        '200': *id008
        '400': *id005
        '500': *id006
  /collections/gfs0p25_v16p3_global_latlon/instances/{instanceId}:
    get:
      summary: Get gfs0p25_v16p3_global_latlon instance
      description: GFS0P25_V16P3_GLOBAL weather data for LATLON region stored in icechunk
        format
      operationId: getInstanceGfs0P25V16P3GlobalLatlon
      tags:
      - gfs0p25_v16p3_global_latlon
      parameters:
      - &id025
        name: instanceId
        in: path
        required: true
        description: Instance identifier
        schema:
          type: string
        example: 2025-12-18T00:00Z
      - *id002
      responses:
        '200': *id008
  /collections/gfs0p25_v16p3_global_latlon/instances/{instanceId}/items:
    get:
      summary: query gfs0p25_v16p3_global_latlon instance by items
      description: GFS0P25_V16P3_GLOBAL weather data for LATLON region stored in icechunk
        format
      operationId: queryItemsInstanceGfs0P25V16P3GlobalLatlon
      tags:
      - gfs0p25_v16p3_global_latlon
      parameters:
      - *id025
      - *id014
      - *id010
      - *id011
      - *id012
      - *id002
      responses: *id013
  /collections/gfs0p25_v16p3_global_latlon/instances/{instanceId}/position:
    get:
      summary: query gfs0p25_v16p3_global_latlon instance by position
      description: GFS0P25_V16P3_GLOBAL weather data for LATLON region stored in icechunk
        format
      operationId: queryPositionInstanceGfs0P25V16P3GlobalLatlon
      tags:
      - gfs0p25_v16p3_global_latlon
      parameters:
      - *id025
      - *id015
      - *id010
      - *id011
      - *id012
      - *id002
      responses: *id013
  /collections/gfs0p25_v16p3_global_latlon/items:
    get:
      summary: query gfs0p25_v16p3_global_latlon by items
      description: GFS0P25_V16P3_GLOBAL weather data for LATLON region stored in icechunk
        format
      operationId: queryItemsGfs0P25V16P3GlobalLatlon
      tags:
      - gfs0p25_v16p3_global_latlon
      parameters: *id019
      responses: *id013
  /collections/gfs0p25_v16p3_global_latlon/position:
    get:
      summary: query gfs0p25_v16p3_global_latlon by position
      description: GFS0P25_V16P3_GLOBAL weather data for LATLON region stored in icechunk
        format
      operationId: queryPositionGfs0P25V16P3GlobalLatlon
      tags:
      - gfs0p25_v16p3_global_latlon
      parameters: *id020
      responses: *id013
  /collections/gfs0p25_v17_global_latlon:
    get:
      summary: Get GFS 0.25 Degree Global LatLon v17 metadata
      description: GFS0P25_V17_GLOBAL weather data for LATLON region stored in icechunk
        format
      operationId: describeGfs0P25V17GlobalLatlonCollection
      tags:
      - gfs0p25_v17_global_latlon
      parameters:
      - *id002
      - *id003
      responses:
        '200': *id016
        '400': *id005
        '404': *id017
        '500': *id006
  /collections/gfs0p25_v17_global_latlon/instances:
    get:
      summary: Get pre-defined instances of gfs0p25_v17_global_latlon
      description: GFS0P25_V17_GLOBAL weather data for LATLON region stored in icechunk
        format
      operationId: getInstancesGfs0P25V17GlobalLatlon
      tags:
      - gfs0p25_v17_global_latlon
      parameters:
      - *id002
      responses:
        '200': *id008
        '400': *id005
        '500': *id006
  /collections/gfs0p25_v17_global_latlon/instances/{instanceId}:
    get:
      summary: Get gfs0p25_v17_global_latlon instance
      description: GFS0P25_V17_GLOBAL weather data for LATLON region stored in icechunk
        format
      operationId: getInstanceGfs0P25V17GlobalLatlon
      tags:
      - gfs0p25_v17_global_latlon
      parameters:
      - &id026
        name: instanceId
        in: path
        required: true
        description: Instance identifier
        schema:
          type: string
        example: 2025-12-16T00:00Z
      - *id002
      responses:
        '200': *id008
  /collections/gfs0p25_v17_global_latlon/instances/{instanceId}/items:
    get:
      summary: query gfs0p25_v17_global_latlon instance by items
      description: GFS0P25_V17_GLOBAL weather data for LATLON region stored in icechunk
        format
      operationId: queryItemsInstanceGfs0P25V17GlobalLatlon
      tags:
      - gfs0p25_v17_global_latlon
      parameters:
      - *id026
      - *id014
      - *id010
      - *id011
      - *id012
      - *id002
      responses: *id013
  /collections/gfs0p25_v17_global_latlon/instances/{instanceId}/position:
    get:
      summary: query gfs0p25_v17_global_latlon instance by position
      description: GFS0P25_V17_GLOBAL weather data for LATLON region stored in icechunk
        format
      operationId: queryPositionInstanceGfs0P25V17GlobalLatlon
      tags:
      - gfs0p25_v17_global_latlon
      parameters:
      - *id026
      - *id015
      - *id010
      - *id011
      - *id012
      - *id002
      responses: *id013
  /collections/gfs0p25_v17_global_latlon/items:
    get:
      summary: query gfs0p25_v17_global_latlon by items
      description: GFS0P25_V17_GLOBAL weather data for LATLON region stored in icechunk
        format
      operationId: queryItemsGfs0P25V17GlobalLatlon
      tags:
      - gfs0p25_v17_global_latlon
      parameters: *id019
      responses: *id013
  /collections/gfs0p25_v17_global_latlon/position:
    get:
      summary: query gfs0p25_v17_global_latlon by position
      description: GFS0P25_V17_GLOBAL weather data for LATLON region stored in icechunk
        format
      operationId: queryPositionGfs0P25V17GlobalLatlon
      tags:
      - gfs0p25_v17_global_latlon
      parameters: *id020
      responses: *id013
  /collections/nbm_v5p0_conus_lambert:
    get:
      summary: Get National Blend of Models v5.0 CONUS Lambert metadata
      description: NBM_V5P0_CONUS weather data for LAMBERT region stored in icechunk
        format
      operationId: describeNbmV5P0ConusLambertCollection
      tags:
      - nbm_v5p0_conus_lambert
      parameters:
      - *id002
      - *id003
      responses:
        '200': *id016
        '400': *id005
        '404': *id017
        '500': *id006
  /collections/nbm_v5p0_conus_lambert/instances:
    get:
      summary: Get pre-defined instances of nbm_v5p0_conus_lambert
      description: NBM_V5P0_CONUS weather data for LAMBERT region stored in icechunk
        format
      operationId: getInstancesNbmV5P0ConusLambert
      tags:
      - nbm_v5p0_conus_lambert
      parameters:
      - *id002
      responses:
        '200': *id008
        '400': *id005
        '500': *id006
  /collections/nbm_v5p0_conus_lambert/instances/{instanceId}:
    get:
      summary: Get nbm_v5p0_conus_lambert instance
      description: NBM_V5P0_CONUS weather data for LAMBERT region stored in icechunk
        format
      operationId: getInstanceNbmV5P0ConusLambert
      tags:
      - nbm_v5p0_conus_lambert
      parameters:
      - &id027
        name: instanceId
        in: path
        required: true
        description: Instance identifier
        schema:
          type: string
        example: 2025-11-18T00:00Z
      - *id002
      responses:
        '200': *id008
  /collections/nbm_v5p0_conus_lambert/instances/{instanceId}/items:
    get:
      summary: query nbm_v5p0_conus_lambert instance by items
      description: NBM_V5P0_CONUS weather data for LAMBERT region stored in icechunk
        format
      operationId: queryItemsInstanceNbmV5P0ConusLambert
      tags:
      - nbm_v5p0_conus_lambert
      parameters:
      - *id027
      - *id014
      - *id010
      - *id011
      - *id012
      - *id002
      responses: *id013
  /collections/nbm_v5p0_conus_lambert/instances/{instanceId}/position:
    get:
      summary: query nbm_v5p0_conus_lambert instance by position
      description: NBM_V5P0_CONUS weather data for LAMBERT region stored in icechunk
        format
      operationId: queryPositionInstanceNbmV5P0ConusLambert
      tags:
      - nbm_v5p0_conus_lambert
      parameters:
      - *id027
      - *id015
      - *id010
      - *id011
      - *id012
      - *id002
      responses: *id013
  /collections/nbm_v5p0_conus_lambert/items:
    get:
      summary: query nbm_v5p0_conus_lambert by items
      description: NBM_V5P0_CONUS weather data for LAMBERT region stored in icechunk
        format
      operationId: queryItemsNbmV5P0ConusLambert
      tags:
      - nbm_v5p0_conus_lambert
      parameters: *id019
      responses: *id013
  /collections/nbm_v5p0_conus_lambert/position:
    get:
      summary: query nbm_v5p0_conus_lambert by position
      description: NBM_V5P0_CONUS weather data for LAMBERT region stored in icechunk
        format
      operationId: queryPositionNbmV5P0ConusLambert
      tags:
      - nbm_v5p0_conus_lambert
      parameters: *id020
      responses: *id013
  /collections/processed_gefs0p25_v12p3_global_latlon:
    get:
      summary: Get Processed GEFS 0.25 Degree Global LatLon metadata
      description: PROCESSED_GEFS0P25_V12P3_GLOBAL weather data for LATLON region
        stored in icechunk format
      operationId: describeProcessedGefs0P25V12P3GlobalLatlonCollection
      tags:
      - processed_gefs0p25_v12p3_global_latlon
      parameters:
      - *id002
      - *id003
      responses:
        '200': *id016
        '400': *id005
        '404': *id017
        '500': *id006
  /collections/processed_gefs0p25_v12p3_global_latlon/instances:
    get:
      summary: Get pre-defined instances of processed_gefs0p25_v12p3_global_latlon
      description: PROCESSED_GEFS0P25_V12P3_GLOBAL weather data for LATLON region
        stored in icechunk format
      operationId: getInstancesProcessedGefs0P25V12P3GlobalLatlon
      tags:
      - processed_gefs0p25_v12p3_global_latlon
      parameters:
      - *id002
      responses:
        '200': *id008
        '400': *id005
        '500': *id006
  /collections/processed_gefs0p25_v12p3_global_latlon/instances/{instanceId}:
    get:
      summary: Get processed_gefs0p25_v12p3_global_latlon instance
      description: PROCESSED_GEFS0P25_V12P3_GLOBAL weather data for LATLON region
        stored in icechunk format
      operationId: getInstanceProcessedGefs0P25V12P3GlobalLatlon
      tags:
      - processed_gefs0p25_v12p3_global_latlon
      parameters:
      - &id028
        name: instanceId
        in: path
        required: true
        description: Instance identifier
        schema:
          type: string
        example: 2021-01-01T00:00Z
      - *id002
      responses:
        '200': *id008
  /collections/processed_gefs0p25_v12p3_global_latlon/instances/{instanceId}/items:
    get:
      summary: query processed_gefs0p25_v12p3_global_latlon instance by items
      description: PROCESSED_GEFS0P25_V12P3_GLOBAL weather data for LATLON region
        stored in icechunk format
      operationId: queryItemsInstanceProcessedGefs0P25V12P3GlobalLatlon
      tags:
      - processed_gefs0p25_v12p3_global_latlon
      parameters:
      - *id028
      - *id014
      - *id010
      - *id011
      - *id012
      - *id002
      responses: *id013
  /collections/processed_gefs0p25_v12p3_global_latlon/instances/{instanceId}/position:
    get:
      summary: query processed_gefs0p25_v12p3_global_latlon instance by position
      description: PROCESSED_GEFS0P25_V12P3_GLOBAL weather data for LATLON region
        stored in icechunk format
      operationId: queryPositionInstanceProcessedGefs0P25V12P3GlobalLatlon
      tags:
      - processed_gefs0p25_v12p3_global_latlon
      parameters:
      - *id028
      - *id015
      - *id010
      - *id011
      - *id012
      - *id002
      responses: *id013
  /collections/processed_gefs0p25_v12p3_global_latlon/items:
    get:
      summary: query processed_gefs0p25_v12p3_global_latlon by items
      description: PROCESSED_GEFS0P25_V12P3_GLOBAL weather data for LATLON region
        stored in icechunk format
      operationId: queryItemsProcessedGefs0P25V12P3GlobalLatlon
      tags:
      - processed_gefs0p25_v12p3_global_latlon
      parameters: *id019
      responses: *id013
  /collections/processed_gefs0p25_v12p3_global_latlon/position:
    get:
      summary: query processed_gefs0p25_v12p3_global_latlon by position
      description: PROCESSED_GEFS0P25_V12P3_GLOBAL weather data for LATLON region
        stored in icechunk format
      operationId: queryPositionProcessedGefs0P25V12P3GlobalLatlon
      tags:
      - processed_gefs0p25_v12p3_global_latlon
      parameters: *id020
      responses: *id013
  /collections/rtma2p5_v2p10_conus_lambert:
    get:
      summary: Get RTMA 2.5km CONUS Lambert metadata
      description: RTMA2P5_V2P10_CONUS weather data for LAMBERT region stored in icechunk
        format
      operationId: describeRtma2P5V2P10ConusLambertCollection
      tags:
      - rtma2p5_v2p10_conus_lambert
      parameters:
      - *id002
      - *id003
      responses:
        '200': *id016
        '400': *id005
        '404': *id017
        '500': *id006
  /collections/rtma2p5_v2p10_conus_lambert/instances:
    get:
      summary: Get pre-defined instances of rtma2p5_v2p10_conus_lambert
      description: RTMA2P5_V2P10_CONUS weather data for LAMBERT region stored in icechunk
        format
      operationId: getInstancesRtma2P5V2P10ConusLambert
      tags:
      - rtma2p5_v2p10_conus_lambert
      parameters:
      - *id002
      responses:
        '200': *id008
        '400': *id005
        '500': *id006
  /collections/rtma2p5_v2p10_conus_lambert/instances/{instanceId}:
    get:
      summary: Get rtma2p5_v2p10_conus_lambert instance
      description: RTMA2P5_V2P10_CONUS weather data for LAMBERT region stored in icechunk
        format
      operationId: getInstanceRtma2P5V2P10ConusLambert
      tags:
      - rtma2p5_v2p10_conus_lambert
      parameters:
      - &id029
        name: instanceId
        in: path
        required: true
        description: Instance identifier
        schema:
          type: string
        example: 2021-01-01T00:00Z
      - *id002
      responses:
        '200': *id008
  /collections/rtma2p5_v2p10_conus_lambert/instances/{instanceId}/items:
    get:
      summary: query rtma2p5_v2p10_conus_lambert instance by items
      description: RTMA2P5_V2P10_CONUS weather data for LAMBERT region stored in icechunk
        format
      operationId: queryItemsInstanceRtma2P5V2P10ConusLambert
      tags:
      - rtma2p5_v2p10_conus_lambert
      parameters:
      - *id029
      - *id014
      - *id010
      - *id011
      - *id012
      - *id002
      responses: *id013
  /collections/rtma2p5_v2p10_conus_lambert/instances/{instanceId}/position:
    get:
      summary: query rtma2p5_v2p10_conus_lambert instance by position
      description: RTMA2P5_V2P10_CONUS weather data for LAMBERT region stored in icechunk
        format
      operationId: queryPositionInstanceRtma2P5V2P10ConusLambert
      tags:
      - rtma2p5_v2p10_conus_lambert
      parameters:
      - *id029
      - *id015
      - *id010
      - *id011
      - *id012
      - *id002
      responses: *id013
  /collections/rtma2p5_v2p10_conus_lambert/items:
    get:
      summary: query rtma2p5_v2p10_conus_lambert by items
      description: RTMA2P5_V2P10_CONUS weather data for LAMBERT region stored in icechunk
        format
      operationId: queryItemsRtma2P5V2P10ConusLambert
      tags:
      - rtma2p5_v2p10_conus_lambert
      parameters: *id019
      responses: *id013
  /collections/rtma2p5_v2p10_conus_lambert/position:
    get:
      summary: query rtma2p5_v2p10_conus_lambert by position
      description: RTMA2P5_V2P10_CONUS weather data for LAMBERT region stored in icechunk
        format
      operationId: queryPositionRtma2P5V2P10ConusLambert
      tags:
      - rtma2p5_v2p10_conus_lambert
      parameters: *id020
      responses: *id013
  /collections/urma2p5_v2p10_conus_lambert:
    get:
      summary: Get URMA 2.5km CONUS Lambert metadata
      description: URMA2P5_V2P10_CONUS weather data for LAMBERT region stored in icechunk
        format
      operationId: describeUrma2P5V2P10ConusLambertCollection
      tags:
      - urma2p5_v2p10_conus_lambert
      parameters:
      - *id002
      - *id003
      responses:
        '200': *id016
        '400': *id005
        '404': *id017
        '500': *id006
  /collections/urma2p5_v2p10_conus_lambert/instances:
    get:
      summary: Get pre-defined instances of urma2p5_v2p10_conus_lambert
      description: URMA2P5_V2P10_CONUS weather data for LAMBERT region stored in icechunk
        format
      operationId: getInstancesUrma2P5V2P10ConusLambert
      tags:
      - urma2p5_v2p10_conus_lambert
      parameters:
      - *id002
      responses:
        '200': *id008
        '400': *id005
        '500': *id006
  /collections/urma2p5_v2p10_conus_lambert/instances/{instanceId}:
    get:
      summary: Get urma2p5_v2p10_conus_lambert instance
      description: URMA2P5_V2P10_CONUS weather data for LAMBERT region stored in icechunk
        format
      operationId: getInstanceUrma2P5V2P10ConusLambert
      tags:
      - urma2p5_v2p10_conus_lambert
      parameters:
      - &id030
        name: instanceId
        in: path
        required: true
        description: Instance identifier
        schema:
          type: string
        example: 2025-12-01T00:00Z
      - *id002
      responses:
        '200': *id008
  /collections/urma2p5_v2p10_conus_lambert/instances/{instanceId}/items:
    get:
      summary: query urma2p5_v2p10_conus_lambert instance by items
      description: URMA2P5_V2P10_CONUS weather data for LAMBERT region stored in icechunk
        format
      operationId: queryItemsInstanceUrma2P5V2P10ConusLambert
      tags:
      - urma2p5_v2p10_conus_lambert
      parameters:
      - *id030
      - *id014
      - *id010
      - *id011
      - *id012
      - *id002
      responses: *id013
  /collections/urma2p5_v2p10_conus_lambert/instances/{instanceId}/position:
    get:
      summary: query urma2p5_v2p10_conus_lambert instance by position
      description: URMA2P5_V2P10_CONUS weather data for LAMBERT region stored in icechunk
        format
      operationId: queryPositionInstanceUrma2P5V2P10ConusLambert
      tags:
      - urma2p5_v2p10_conus_lambert
      parameters:
      - *id030
      - *id015
      - *id010
      - *id011
      - *id012
      - *id002
      responses: *id013
  /collections/urma2p5_v2p10_conus_lambert/items:
    get:
      summary: query urma2p5_v2p10_conus_lambert by items
      description: URMA2P5_V2P10_CONUS weather data for LAMBERT region stored in icechunk
        format
      operationId: queryItemsUrma2P5V2P10ConusLambert
      tags:
      - urma2p5_v2p10_conus_lambert
      parameters: *id019
      responses: *id013
  /collections/urma2p5_v2p10_conus_lambert/position:
    get:
      summary: query urma2p5_v2p10_conus_lambert by position
      description: URMA2P5_V2P10_CONUS weather data for LAMBERT region stored in icechunk
        format
      operationId: queryPositionUrma2P5V2P10ConusLambert
      tags:
      - urma2p5_v2p10_conus_lambert
      parameters: *id020
      responses: *id013
  /collections/petss_test:
    get:
      summary: Get P-ETSS Test Data metadata
      description: P-ETSS test data collection from local filesystem
      operationId: describePetssTestCollection
      tags:
      - petss_test
      parameters:
      - *id002
      - *id003
      responses:
        '200': *id016
        '400': *id005
        '404': *id017
        '500': *id006
  /collections/petss_test/instances:
    get:
      summary: Get pre-defined instances of petss_test
      description: P-ETSS test data collection from local filesystem
      operationId: getInstancesPetssTest
      tags:
      - petss_test
      parameters:
      - *id002
      responses:
        '200': *id008
        '400': *id005
        '500': *id006
  /collections/petss_test/instances/{instanceId}:
    get:
      summary: Get petss_test instance
      description: P-ETSS test data collection from local filesystem
      operationId: getInstancePetssTest
      tags:
      - petss_test
      parameters:
      - &id031
        name: instanceId
        in: path
        required: true
        description: Instance identifier
        schema:
          type: string
        example: '2025-04-02T00:00:00Z'
      - *id002
      responses:
        '200': *id008
  /collections/petss_test/instances/{instanceId}/items:
    get:
      summary: query petss_test instance by items
      description: P-ETSS test data collection from local filesystem
      operationId: queryItemsInstancePetssTest
      tags:
      - petss_test
      parameters:
      - *id031
      - *id014
      - *id010
      - *id011
      - *id012
      - *id002
      responses: *id013
  /collections/petss_test/instances/{instanceId}/position:
    get:
      summary: query petss_test instance by position
      description: P-ETSS test data collection from local filesystem
      operationId: queryPositionInstancePetssTest
      tags:
      - petss_test
      parameters:
      - *id031
      - *id015
      - *id010
      - *id011
      - *id012
      - *id002
      responses: *id013
  /collections/petss_test/items:
    get:
      summary: query petss_test by items
      description: P-ETSS test data collection from local filesystem
      operationId: queryItemsPetssTest
      tags:
      - petss_test
      parameters: *id019
      responses: *id013
  /collections/petss_test/position:
    get:
      summary: query petss_test by position
      description: P-ETSS test data collection from local filesystem
      operationId: queryPositionPetssTest
      tags:
      - petss_test
      parameters: *id020
      responses: *id013
  /processes:
    get:
      summary: Processes
      description: Processes
      operationId: getProcesses
      tags:
      - server
      parameters:
      - *id002
      responses:
        '200':
          $ref: https://schemas.opengis.net/ogcapi/processes/part1/1.0/openapi/responses/ProcessList.yaml
        default: *id032
  /jobs:
    get:
      summary: Retrieve jobs list
      description: Retrieve a list of jobs
      operationId: getJobs
      tags:
      - jobs
      responses:
        '200':
          $ref: '#/components/responses/200'
        '404': *id017
        default: *id032
  /jobs/{jobId}:
    get:
      summary: Retrieve job details
      description: Retrieve job details
      operationId: getJob
      tags:
      - jobs
      parameters:
      - name: jobId
        in: path
        required: true
        description: job identifier
        schema:
          type: string
      - *id002
      responses:
        '200':
          $ref: '#/components/responses/200'
        '404': *id017
        default: *id032
    delete:
      summary: Cancel / delete job
      description: Cancel / delete job
      operationId: deleteJob
      tags:
      - jobs
      parameters:
      - name: jobId
        in: path
        required: true
        description: job identifier
        schema:
          type: string
      responses:
        '204':
          $ref: '#/components/responses/204'
        '404': *id017
        default: *id032
  /jobs/{jobId}/results:
    get:
      summary: Retrieve job results
      description: Retrieve job results
      operationId: getJobResults
      tags:
      - jobs
      parameters:
      - name: jobId
        in: path
        required: true
        description: job identifier
        schema:
          type: string
      - *id002
      responses:
        '200':
          $ref: '#/components/responses/200'
        '404': *id017
        default: *id032
  /processes/edr-zarr-difference:
    get:
      summary: Get process metadata
      description: Retrieves two Zarr datasets from an OGC API - EDR and calculates
        their difference.
      operationId: describeEdrZarrDifferenceProcess
      tags:
      - edr-zarr-difference
      parameters:
      - *id002
      responses:
        '200':
          $ref: '#/components/responses/200'
        default: *id032
  /processes/edr-zarr-difference/execution:
    post:
      summary: Process EDR Zarr Dataset Difference execution
      description: Retrieves two Zarr datasets from an OGC API - EDR and calculates
        their difference.
      operationId: executeEdrZarrDifferenceJob
      tags:
      - edr-zarr-difference
      parameters:
      - name: Prefer
        in: header
        required: false
        description: Indicates client preferences, including whether the client is
          capable of asynchronous processing.
        schema:
          type: string
          enum:
          - respond-async
      requestBody:
        required: true
        description: Mandatory execute request JSON
        content:
          application/json:
            schema:
              $ref: https://schemas.opengis.net/ogcapi/processes/part1/1.0/openapi/schemas/execute.yaml
      responses:
        '200':
          description: Process output schema
          content:
            application/zip:
              schema:
                type: object
        '201':
          $ref: https://schemas.opengis.net/ogcapi/processes/part1/1.0/openapi/responses/ExecuteAsync.yaml
        '404': *id017
        '500': *id006
        default: *id032
  /processes/edr-zarr-difference-streaming:
    get:
      summary: Get process metadata
      description: Retrieves two Zarr datasets from an OGC API - EDR and streams their
        difference via a virtual Zarr endpoint.
      operationId: describeEdrZarrDifferenceStreamingProcess
      tags:
      - edr-zarr-difference-streaming
      parameters:
      - *id002
      responses:
        '200':
          $ref: '#/components/responses/200'
        default: *id032
  /processes/edr-zarr-difference-streaming/execution:
    post:
      summary: Process EDR Zarr Dataset Difference Streaming execution
      description: Retrieves two Zarr datasets from an OGC API - EDR and streams their
        difference via a virtual Zarr endpoint.
      operationId: executeEdrZarrDifferenceStreamingJob
      tags:
      - edr-zarr-difference-streaming
      parameters:
      - name: Prefer
        in: header
        required: false
        description: Indicates client preferences, including whether the client is
          capable of asynchronous processing.
        schema:
          type: string
          enum:
          - respond-async
      requestBody:
        required: true
        description: Mandatory execute request JSON
        content:
          application/json:
            schema:
              $ref: https://schemas.opengis.net/ogcapi/processes/part1/1.0/openapi/schemas/execute.yaml
      responses:
        '200':
          description: Process output schema
          content:
            application/json:
              schema:
                type: object
                properties:
                  zarr_endpoint:
                    type: string
        '201':
          $ref: https://schemas.opengis.net/ogcapi/processes/part1/1.0/openapi/responses/ExecuteAsync.yaml
        '404': *id017
        '500': *id006
        default: *id032
  /processes/edr-zarr-wind-streaming:
    get:
      summary: Get process metadata
      description: Derives wind speed and direction from u/v component Zarr datasets
        and streams the result via a virtual Zarr endpoint.
      operationId: describeEdrZarrWindStreamingProcess
      tags:
      - edr-zarr-wind-streaming
      parameters:
      - *id002
      responses:
        '200':
          $ref: '#/components/responses/200'
        default: *id032
  /processes/edr-zarr-wind-streaming/execution:
    post:
      summary: Process EDR Zarr Wind Streaming execution
      description: Derives wind speed and direction from u/v component Zarr datasets
        and streams the result via a virtual Zarr endpoint.
      operationId: executeEdrZarrWindStreamingJob
      tags:
      - edr-zarr-wind-streaming
      parameters:
      - name: Prefer
        in: header
        required: false
        description: Indicates client preferences, including whether the client is
          capable of asynchronous processing.
        schema:
          type: string
          enum:
          - respond-async
      requestBody:
        required: true
        description: Mandatory execute request JSON
        content:
          application/json:
            schema:
              $ref: https://schemas.opengis.net/ogcapi/processes/part1/1.0/openapi/schemas/execute.yaml
      responses:
        '200':
          description: Process output schema
          content:
            application/json:
              schema:
                type: object
                properties:
                  zarr_endpoint:
                    type: string
        '201':
          $ref: https://schemas.opengis.net/ogcapi/processes/part1/1.0/openapi/responses/ExecuteAsync.yaml
        '404': *id017
        '500': *id006
        default: *id032
components:
  parameters:
    f:
      name: f
      in: query
      required: false
      description: The optional f parameter indicates the output format which the
        server shall provide as part of the response document. The default format
        is GeoJSON.
      schema:
        type: string
        default: json
        enum:
        - json
        - html
        - jsonld
      style: form
      explode: false
    lang:
      name: lang
      in: query
      required: false
      description: The optional lang parameter instructs the server return a response
        in a certain language, if supported.
      schema:
        type: string
        default: en-US
        enum:
        - en-US
  responses:
    '200':
      description: Successful operation
      content:
        application/json:
          schema:
            type: object
    '204':
      description: No content
    default:
      description: Unexpected error
      content:
        application/json:
          schema:
            type: object
